doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  footer
    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBIq8oi3MWV44ghx1Mby8q_aFEEkpwhiKk&callback=initMap')
    script(type='text/javascript').
      var artistObjects = !{JSON.stringify(artistObjects)}
    script(src='/javascripts/maps.js')
